@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  background-color: rgb(29, 28, 28);
  color: white;
}

.albums {
  display: flex;
}

.album_img {
  width: 350px;
  width: 350px;
}

.album_img:hover {
  box-shadow: rgb(29, 28, 28) 6px 4px 4px;
  cursor: pointer;
}

.album {
  border: 1px solid transparent;
  padding: 10px;
  background-color: rgb(49, 47, 47);
  border-radius: 10px;
  margin-right: 10px;
}

.album_info,
.album_category,
p {
  background-color: transparent;
}
